# Documentation
# ------------------------------------------------------------------------------
sphinx==3.5.4  # https://github.com/sphinx-doc/sphinx
sphinx-autobuild==2021.3.14 # https://github.com/GaretJax/sphinx-autobuild
